@charset "UTF-8";

:root{
    --cor00: #ffffff;
    --cor01: #D3D3D3;
    --cor02: #949494;
    --cor03: #575757;
    --cor04: #000000;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
   background-color: var(--cor01);
}

header{
    background-color: var(--cor02);
}

header > h1{
    text-align: center;
    padding: 10px;
}

span#burguer{
    display: block;
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    padding: 10px;
    
}

span#burguer:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

nav{
    display: none;
}

nav > ul{
    list-style: none;
}

nav > ul > li > a{  
    display: block;
    padding: 10px;
    background-color: var(--cor03);
    color: var(--cor00);
    text-decoration: none;
    text-align: center;
    border-top: 2px solid gray;
}

nav > ul > li > a:hover{
    background-color:#838080;
}

main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--cor00);
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}